[submodule "tlx"]
	path = external/tlx
	url = https://github.com/tlx/tlx.git
[submodule "ips4o"]
	path = external/ips4o
	url = https://github.com/ips4o/ips4o
[submodule "external/RBC"]
	path = external/RBC
	url = https://github.com/MichaelAxtmann/RBC.git
[submodule "external/kamping"]
	path = external/kamping
	url = https://github.com/kamping-site/kamping.git
[submodule "kaval"]
	path = kaval
	url = https://github.com/niklas-uhl/kaval.git
